[class^="LER-stratum-"],
[class*=" LER-stratum-"] {
    margin-left: 1em !important;
}

[class^="LER-stratum-"] > li,
[class*=" LER-stratum-"] > li {
    margin: 0.5em 0;
}

.LER-stratum-0 > li:not(:only-of-type) {
    list-style-type: upper-roman;
}

.LER-stratum-0 > li:only-of-type {
    list-style-type: circle;
}

.LER-stratum-1 > li {
    text-indent: -4em;
    padding-left: 3em;
}

.LER-stratum-2 > li {
    text-indent: -2em;
    padding-left: 1em;
}

.LER-stratum-3 > li {
    text-indent: -3em;
    padding-left: 2em;
}

.LER-stratum-4 > li {
    text-indent: -1em;
    padding-left: 0em;
}

.LER-stratum-5 > li {
    text-indent: -2em;
    padding-left: 1em;
}
