body {
    padding-bottom: 3em;
}
h1 {
    margin-bottom: 0;
}
body > h1::before {
    background-image: url(icon.png);
    background-size: 48px;
    width: 48px;
    height: 48px;
    display: inline-block;
    vertical-align: middle;
    content: "";
}
header p {
    margin-top: 0;
}
ul {
    margin: 0.5em auto;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px dashed #ccc;
    text-align: center;
    background-color: #eee;
}
nav, footer {
    font-size: small;
}
nav li, footer li {
    display: inline;
    border: 1px solid #ccc;
    padding: 0.10em 0.25em;
}
nav li img {
    vertical-align: bottom;
}
nav a, footer a {
    text-decoration: none;
}

#status {
    min-height: 1em;
    font-weight: bold;
    color: #f00;
}

.ps {
    font-size: small;
    color: #666;
}
