body {
    padding-bottom: 3em;
}
h1 {
    margin-bottom: 0;
}
body > h1 {
    background: url(icon.png) no-repeat 0 50%;
    background-size: 48px 48px;
    vertical-align: middle;
    padding-left: 48px;
}
header p {
    margin-top: 0;
}
ul {
    margin: 0.5em auto;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px dashed #ccc;
    text-align: center;
    background-color: #eee;
}
nav, footer {
    font-size: small;
}
nav li, footer li {
    display: inline;
    border: 1px solid #ccc;
    padding: 0 0.25em;
}
nav a, footer a {
    text-decoration: none;
}