body {
    background-color: #ccc;
}

a {
    text-decoration: none;
    color: rgb(17, 85, 204);
}

button, input[type=submit] {
    border: 1px solid #fff;
}

input[type=submit] {
    margin: 0;
    padding: 0 3px;
}

iframe {
    height: 1.5em;
    border: 0;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

nav a {
    font-size: small;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#outLinkList li {
    padding: 0.2em;
    border: 1px solid #eee;
    background-color: #ddd;
    margin: 0.1em 0;
}

#outLinkList label {
    font-size: small;
}

section {
    position: relative;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px dashed #888;
}

section:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

#closeLinkList {
    cursor: pointer;
    position: absolute;
    top: -0.25em;
    right: 0;
}

#ghost {
    position: absolute;
    color: #888;
    top: 0.1em;
    left: 0.1em;
}

#input {
    width: 400px;
}

#output {
    padding: 0.25em 0.5em;
    background-color: #000;
    color: #ccc;
    line-height: 150%;
}